#cart{
	display: flex;
	position: fixed	;
	left: 1790px ;
	top:-0;
}

body{
	background:lightyellow;
}

.product:hover{
	opacity: 0.5;
}

#products{
	position: relative;
	left: 140px ;
	top:-0px;
}

#products.horizontal-list {
	list-style-type: none;  /* Remove default list styles */
	display: flex;          /* Use flexbox layout */
  }
  
  #products.horizontal-list li {
	margin-right: 10px;     /* Add some spacing between list items */
  }

  #cookie {
	width: 200px;
	height: 200px;
  }